 <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_bm.png", class: "h-100" %>
    <% end %>

    <form class="form-inline">
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </div>
    </form>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link btn btn-outline-success" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sell Books", new_book_path, class: "nav-link btn btn-outline-success" %>
          </li>
          <li class="nav-item">
            <%= link_to "My books", my_books_path, class: "nav-link btn btn-outline-success" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Orders", orders_path, class: "nav-link btn btn-outline-success" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if user_signed_in? %>
              <% if current_user.photo.url.present? %>
                <%= cl_image_tag(current_user.photo.key, :transformation=>[
                                {:gravity=>"face", :height=>64, :width=>64, :crop=>"thumb"},
                                {:radius=>"max"},
                                {:fetch_format=>:auto}
                                ]) %>
              <% else %>
                <%= image_tag "user.png", class: "avatar", alt: "dropdown menu" %>
              <% end %>
            <% end %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit Account", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
         <li class="nav-item">
            <%= link_to "Sign Up", new_user_session_path, class: "nav-link btn btn-outline-success" %>
          </li>

          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-outline-success" %>
          </li>

        <% end %>
      </ul>
    </div>
  </div>
</div>
