<div class="card-product text-center">
    <h1> All my orders </h1>
</div>

<div style="display: flex; align-items: center; justify-content: center; m-5">
  <i class="fa-solid fa-truck" style="font-size: 2em;"></i>
</div>

<table class="table table-striped mt-10" style="margin-top: 40px;">
  <thead>
    <tr>
      <th>Book Name</th>
      <th>Quantity</th>
      <th>Order Date</th>
      <th>More</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.book.name %></td>
        <td><%= order.quantity %></td>
        <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= link_to "Order Details", order_path(order), class: "btn btn-dark" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="display: flex; justify-content: center;">
  <%= link_to "back to books", books_path, class: "btn btn-dark" %>
</div>
