<div class="text-center">
    <h1> All my orders </h1>
</div>

<div style="display: flex; align-items: center; justify-content: center; m-5">
  <i class="fa-solid fa-truck" style="font-size: 2em;"></i>
</div>

<table class="table table-striped mt-10" style="margin-top: 40px;">
  <thead>
    <tr>
      <th>Book Name</th>
      <th>Quantity</th>
      <th>Order Date</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr onclick="myFunction()" style="cursor: pointer;">
        <td><%= order.book.name %></td>
        <td><%= order.quantity %></td>
        <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
      </tr>
      <script>
        function myFunction(order) {
          window.location.href = "<%= order_path(order) %>";
        }
      </script>
    <% end %>
  </tbody>
</table>

<div style="display: flex; justify-content: center;">
  <%= link_to "back to the bookshelf", books_path, class: "btn btn-dark" %>
</div>
