<div class="styles__SearchWrapper-sc-18kpqdv-2 floVJi">
  <div class="banner mb-4 d-flex text-center" style="background-image: linear-gradient(to right, rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('library-book-bookshelf-read.jpg') %>)">
    <div class="container">
      <h1 >Welcome to the <strong>BookMarket!</strong></h1>
    </div>
</div>


<ul class="cards">
  <% @books.order(id: :asc).each do |book| %>
    <li class="cards__item col-md-4"> <!-- Added col-md-4 class -->

      <div class="card-product">
        <% if book.photo.attached? %>
          <%= cl_image_tag(book.photo.key, class: "card__image")%>
        <% else %>
          <%= image_tag("Image_not_available.png", class: "card__image")%>
        <% end %>
        <div class="card-product-infos">
          <div class=""><%= book.name %></div>
          <p class="">Author: <%= book.author %></p>
          <p class="">Genre: <%= book.genre %></p>
          <p class="">Price: R$ <%= book.price %></p>
        </div>
      <%= link_to "Details", book_path(book), class: "btn", style: "margin-right: 15px" %>
      </div>
    </li>
  <% end %>
</ul>
</div>
