<div class="styles__SearchWrapper-sc-18kpqdv-2 floVJi">
  <div class="banner mb-4 d-flex text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('library-book-bookshelf-read.jpg') %>)">
    <div class="container">
      <h1 >Welcome to the <strong>BookMarket!</strong></h1>
    </div>
</div>
<div class="container text-center" >
  <div class="container-card d-flex justify-content-center align-items-center">
    <% if user_signed_in? %>
      <%= link_to "Add a book to the shelf", new_book_path, class: "btn btn-dark rounded-corner transparent-bg full-width" %>
    <% end %>
  </div>
</div>
<ul class="cards">
  <% @books.each do |book| %>
    <li class="cards__item">
      <div class="card">
        <% if book.photo.attached? %>
          <%= link_to cl_image_tag(book.photo.key, class: "card__image card__image--fence"), book_path(book) %>
        <% else %>
          <div class="card__image card__image--fence">No photo available</div>
        <% end %>
        <div class="card__content">
          <div class="card__title"><%= book.name %></div>
          <p class="card__text">Author: <%= book.author %></p>
          <p class="card__text">Genre: <%= book.genre %></p>
          <%= link_to "View more details", book_path(book), class: "btn btn-dark card__btn" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
</div>
