<div class="styles__SearchWrapper-sc-18kpqdv-2 floVJi">
  <div class="banner mb-4 d-flex text-center" style="background-image: linear-gradient(to right, rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('library-book-bookshelf-read.jpg') %>)">
    <div class="container">
      <h1 >Welcome to the <strong>BookMarket!</strong></h1>
    </div>
</div>
<div class="container text-center" >
  <div class="container-card d-flex justify-content-center align-items-center">
    <% if user_signed_in? %>
      <%= link_to "ADD A BOOK TO THE SHELF", new_book_path, class: "btn-3d blue" %>
    <% end %>
  </div>
</div>
<ul class="cards">
  <% @books.order(id: :asc).each do |book| %>
    <li class="cards__item">
      <div class="card">
        <% if book.photo.attached? %>
          <%= link_to cl_image_tag(book.photo.key, class: "card__image card__image--fence", style: "width: 100%; height: 100%; object-fit: contain"), book_path(book) %>
        <% else %>
          <%= link_to image_tag("Image_not_available.png", class: "card__image card__image--fence"), book_path(book) %>
        <% end %>
        <div class="card__content">
          <div class="card__title"><%= book.name %></div>
          <p class="card__text">Author: <%= book.author %></p>
          <p class="card__text">Genre: <%= book.genre %></p>
          <%= link_to "View more details", book_path(book), class: "btn btn-dark card__btn" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
</div>
