  
<h1>All our books:</h1>

<div class="card-deck">
  <% @books.each do |book| %>
    <div class="card">
      <% if book.photo.attached? %>
        <%= link_to cl_image_tag(book.photo.key, class: "card-img-top", height: 300, width: 800, crop: :fill), book_path(book) %>
      <% else %>
        <div class="card-img-top">No photo available</div>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= book.name %></h5>
        <p class="card-text">Author: <%= book.author %></p>
        <p class="card-text">Genre: <%= book.genre %></p>
        <%= button_to "Delete", book, method: :delete, data: { confirm: "Are you sure you want to delete this book?" }, class: "btn btn-dark" %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Add a book to the shelf", new_book_path, class: "btn btn-primary" %>
