<h1>Your Bookmarket</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Photo</th> <!-- Added column for photo -->
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.genre %></td>
        <td>
          <% if book.photos.attached? %>
            <%= cl_image_tag book.photos.first.key, class: "book-photo" %>
          <% else %>
            No photo available
          <% end %>
        </td>
        <td>
          <%= button_to "Delete", book, method: :delete, data: { confirm: "Are you sure you want to delete this book?" }, class: "btn btn-dark" %>
        </td>
        <td>
          <%= link_to "Buy", book_path(book), class: "btn btn-dark" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add a book to the shelf", new_book_path, class: "btn btn-primary" %>
