 <div class="text-center">
  <h1> My shelf </h1><i class="fa-solid fa-book-open" style="font-size: 2em;"></i>
    <% if @books.empty? %>
    <p> You have no books in your shelf. </p>
</div>

<% else %>
  <div class="card">
    <% @books.each do |book| %>
        <% if book.photo.attached? %>
            <%= link_to cl_image_tag(book.photo.key, class: "", height: 100, width: 300, crop: :fill, style: "margin-top: 40px;"), book_path(book) %>
        <% else %>
          <div class="">No photo available</div>
        <% end %>
        <div class="card-grid margin-top: 40px" >
          <h5 class="">
            <strong><%= book.name %></strong>
          </h5>
          <p class="">Author: <%= book.author %></p>

        <div class="button-container" style="display: flex; justify-content: center;">
          <p class="button-item" style="margin-right: 10px;"><%= link_to "View more details", book_path(book), class: "btn btn-dark" %>
          <p class="button-item" style="margin-right: 10px;"><%= link_to "Edit", edit_book_path(book), class: "btn btn-dark" %></p>
          <p class="button-item"><%= button_to "Delete", book, method: :delete, data: { confirm: "Are you sure you want to delete this book?" }, class: "btn btn-danger" %></p>
        </div>
        </div>
    <% end %>
  </div>
<% end %>
