<h1>New Book</h1>

<%= simple_form_for @book, url: books_path do |form| %>
  <%= form.input :name %>
  <%= form.input :author %>
  <%= form.input :genre %>
  <%= form.input :year %>
  <%= form.input :price %>
  <%= form.input :quantity %>
  <%= form.input :photo, as: :file %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
