<div class="container py-1">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h1>New Book</h1>
        <%= simple_form_for(@book) do |form| %>
          <div class="form-group">
            <%= form.input :name, placeholder: "Enter book name" %>
            <%= form.input :author, placeholder: "Enter author name" %>
            <%= form.input :genre, placeholder: "Enter book genre" %>
            <%= form.input :year, placeholder: "Enter publication year" %>
            <%= form.input :price, placeholder: "Enter book price" %>
            <%= form.input :quantity, placeholder: "Enter book quantity", error: 'not found' %>
            <%= form.input :photo, as: :file %>
              <div class="actions">
              <%= form.submit %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
