<div class="container-show" style="padding: 20px;">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-category" style="border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); display: flex; padding: 10px;">
        <div class="card-body" style="padding: 20px;">
          <div class="row"> <!-- COLUNA 1 -->
            <div class="col-md-4"> <!-- LINHA 1 -->
              <% if @book.photo.attached? %>
                <div style="margin-right: 20px;">
                  <%= cl_image_tag @book.photo.key, style: "width: 250px; height: auto;", crop: :fill %>
                </div>
              <% else %>
                <%= image_tag("Image_not_available.png", style: "width: 250px; height: auto;", crop: :fill) %>
              <% end %>
            </div>
            <div class="col-md-8"> <!-- LINHA 2 -->
              <p><strong>Book Description</strong></p>
              <% if @book.descricao.present? %>
                <p class="information" style="font-style: italic; text-align: left; margin: 0;"><%= @book.descricao %></p>
              <% else %>
                <p class="information" style="font-style: italic; text-align: left; margin: 0;">Sorry, no description for this book</p>
              <% end %>
            </div>
          </div>
          <div class="row"> <!-- COLUNA 2 -->
            <div class="col-md-4"> <!-- LINHA 1 -->
              <ul style="list-style: none; padding-left: 0; text-align: left; margin: 0; margin-top: 35px">
                <li style="margin-bottom: 10px;"><strong>Book Name:</strong> <%= @book.name %></li>
                <li style="margin-bottom: 10px;"><strong>Author:</strong> <%= @book.author %></li>
                <li style="margin-bottom: 10px;"><strong>Genre:</strong> <%= @book.genre %></li>
                <li style="margin-bottom: 10px;"><strong>Book Year:</strong> <%= @book.year %></li>
                <li style="margin-bottom: 10px;"><strong>Individual Price:</strong> $<span id="individual-price"><%= @book.price %></span></li>
              </ul>
            </div>
            <div class="col-md-8"> <!-- LINHA 2 -->
              <div class="control" style="text-align: center; margin-top: 60px;">
                <%= form_tag orders_path, method: :post do %>
                  <%= hidden_field_tag :book_id, @book.id %>
                  <% if current_user %>
                    <%= hidden_field_tag :user_id, current_user.id %>
                  <% end %>
                  <p>This book was ordered <%= pluralize(@book.orders.count, 'time')%>! <i class="fa-solid fa-truck-fast"></i> Available: <%= @book.quantity %></p>
                  <% if current_user %>
                    <% if @book.quantity.zero? %>
                      <%= render 'shared/out_of_stock' %>
                    <% else %>
                      <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
                        <%= label_tag :quantity, "Select quantity:" %>
                        <%= select_tag :quantity, options_for_select((1..@book.quantity).to_a), class: "form-control", id: "quantity-select" %>
                      </div>
                      <div>
                        <div>
                          <div id="total-price" style="display: none;">
                            <span id="calculated-price"><% @book.price %></span>
                          </div>
                          <%= button_to orders_path, method: :post, params: { book_id: @book.id, user_id: current_user.id }, class: "btn btn-primary", data: { confirm: "Are you sure?" }, id: "buy-button" do %>
                            <span style="margin-right: 10px;">$<span id="initial-price"><%= @book.price %></span></span>
                            <span style="margin-right: 5px;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                            <span style="font-weight: bold;">Buy Now</span>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                    <%= link_to "Login to purchase", new_user_session_path, class: "btn btn-primary" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var quantitySelect = document.getElementById('quantity-select');
    var initialPrice = parseFloat(document.getElementById('initial-price').textContent);
    var calculatedPrice = document.getElementById('calculated-price');
    var buyButton = document.getElementById('buy-button');
    quantitySelect.addEventListener('change', function() {
      var quantity = parseInt(quantitySelect.value);
      var totalPrice = initialPrice * quantity;
      calculatedPrice.textContent = totalPrice.toFixed(2);
      buyButton.innerHTML = "$" +  totalPrice.toFixed(2) + " <i class='fa fa-shopping-cart' aria-hidden='true'></i><span style=\"font-weight: bold;\"> Buy Now</span>";
    });
  });
</script>
