<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-category">
        <div class="card-body">
          <h1><%= @book.name %></h1>
          <p><%= @book.author %></p>
          <p><%= @book.price %></p>
          <% if @book.photo.attached? %>
            <%= cl_image_tag @book.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            No photo available
          <% end %>
          <a href="<%= orders_path %>" class="btn btn-primary">Purchased!</a>
        </div>
      </div>
    </div>
  </div>
</div>
